.DS_Store
assets/.DS_Store
Console.txt
.env

vendor/

wordpress/

.phpunit.result.cache
phpunit.xml
wp-content/debug.log
.vscode/sftp.json
# Runtime files
monitor.pid
*.log
wp-content/
node_modules/
package-lock.json
package.json
debug.log
