<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.debugmonitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd /Users/dg/Documents/GitHub/puntWork && ./monitoring/start-monitoring.sh start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/debug-monitor-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/debug-monitor-launchd-error.log</string>
    <key>UserName</key>
    <string>dg</string>
    <key>WorkingDirectory</key>
    <string>/Users/dg/Documents/GitHub/puntWork</string>
</dict>
</plist>
